---
const { class: className, ...rest } = Astro.props;
---

<button
    class="flex flex-col gap-2 group md:hidden"
    id="menu-toggle"
    aria-expanded="false"
    aria-label="button-menu"
>
    <span
        class="hamburger-bar group-aria-[expanded='true']:translate-y-[10px] group-aria-[expanded='true']:rotate-45"
    ></span>
    <span
        class="hamburger-bar transition-opacity ease-in-out group-aria-[expanded='true']:opacity-0"
    ></span>
    <span
        class="hamburger-bar group-aria-[expanded='true']:-translate-y-[10px] group-aria-[expanded='true']:-rotate-45"
    ></span>
</button>

<style>
    @reference "tailwindcss";

    .hamburger-bar {
        @apply block h-0.5 w-8 origin-center rounded-full bg-white/80 transition-transform  ease-in-out duration-150;
    }
</style>
