---
import Logo from "./Logo.astro";
---

<div class="flex w-screen h-dvh justify-center items-center md:flex-row flex-col-reverse">
	<div class="text-center flex justify-center flex-col gap-4">
		<h1 class="xl:text-[10rem] sm:text-9xl text-8xl text-shadow-lg/100 font-semibold">UcppM</h1>
		<h2 class="xl:text-2xl sm:text-lg text-smfont-light">
			Asociación de Programación Competitiva de la<br/>
			Universidad Complutense de Madrid
		</h2>
	</div>
	<Logo loading="eager" class="object-contain md:w-1/4 w-1/3"/>
</div>
